.table{
   max-width: 500px !important; 
   margin: 1rem auto !important;
}

/* #pagination{
    padding-left: 33% !important;
    padding-right: 33% !important;
    text-align: center !important;
    margin: auto !important;
} */